<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
        <table class="table table-bordered table-striped table-hover">
            <!--Table Header-->
            <tr class="d-flex">
                <th class="text-center col-2">product</th>
                <th class="text-center col-2">category</th>
                <th class="text-center col-2">price</th>
                <th class="text-center col-5">color</th>
                <th class="text-center col-1">metal</th>
                <th class="text-center col-1">size</th>
            </tr>
            <% for(let count=0;count<BookList.length;count++) { %>
            <tr class="d-flex">
                <td class="text-center col-2"><%= BookList[count].product %></td>
                <td class="text-center col-2"><%= BookList[count].category %></td>
                <td class="text-center col-2"><%= BookList[count].price %></td>
                <td class="text-center col-5"><%= BookList[count].color %></td>
                <td class="text-center col-1"><%= BookList[count].metal %></td>
                <td class="text-center col-1"><%= BookList[count].size %></td>
            </tr>
            <% } %>
        </table>
        </div>
    </div>
</main> 
<%- include Partials/footer.ejs %>